<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated curveHTLM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="curveHTLM.presentation.CurveHTLMModelWizardID"
            name="%_UI_CurveHTLMModelWizard_label"
            class="curveHTLM.presentation.CurveHTLMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CurveHTLMModelFile.gif">
         <description>%_UI_CurveHTLMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated curveHTLM -->
      <editor
            id="curveHTLM.presentation.CurveHTLMEditorID"
            name="%_UI_CurveHTLMEditor_label"
            icon="icons/full/obj16/CurveHTLMModelFile.gif"
            extensions="curvehtlm"
            class="curveHTLM.presentation.CurveHTLMEditor"
            contributorClass="curveHTLM.presentation.CurveHTLMActionBarContributor">
      </editor>
   </extension>

</plugin>
